@inherits LayoutComponentBase
@using RetirementTime.Components.Pages.Dashboard
@using RetirementTime.Components.Shared

<HeadContent>
    <link rel="stylesheet" href="css/dashboard.css" />
</HeadContent>

<AuthorizeView>
    <Authorized>
        <div class="dashboard-shell">
            <DashboardSidebar HasCompletedIntro="@HasCompletedIntro" 
                              UserId="@UserId" 
                              RefreshTrigger="@_scenarioRefreshTrigger" />

            <div class="dashboard-body">
                <TopBar ActiveSection="dashboard" 
                        Initials="@_initials" 
                        HasCompletedIntro="@HasCompletedIntro" />
                <div class="dashboard-page-content">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
